:root {--main-color:#ff9800;}
   *{box-sizing: border-box;}
body{
    font-family: 'Work Sans', sans-serif;
}
.container{
    /* width: 1170px; */
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}

/* Start Settings-Box */

.Settings-Box .toggel-settings{
    position: absolute;
    background-color:rgba(255, 255, 255, 0.945);
    right: -30px;
    text-align: center;
    cursor:pointer;
    top: 100px;
} 
.Settings-Box .toggel-settings .fa-gear{
    width: 30px;
    padding: 8px 0;
    
    
}
.Settings-Box .options-box{
    padding: 10px;
    text-align: center;
    background-color: #EEE;
    margin: 10px;
}
.Settings-Box .options-box h4{
margin: 0%;
color: #666;
font-size: 14px;
}
.Settings-Box .options-box .color-list{
list-style: none;
text-align: center;
padding: 0%;
margin: 10px 0 0;
}
.Settings-Box .options-box .color-list li{
    width: 20px;
    height: 20px;
    background-color: #333;
    border-radius: 50%;
    cursor: pointer;  
    display: inline-block;
    opacity: 1;
    border: 3px  #EEE;
}
.Settings-Box .options-box .color-list li.active{
    border: 4px solid#FFF;
}
.Settings-Box .options-box .color-list li:first-child{
    background-color: #ff9800;
}
.Settings-Box .options-box .color-list li:nth-child(2){
    background-color: #E91E63;
}
.Settings-Box .options-box .color-list li:nth-child(3){
    background-color: #009688;
}
.Settings-Box .options-box .color-list li:nth-child(4){
    background-color: #03a9f4;
}
.Settings-Box .options-box .color-list li:nth-child(5){
    background-color: #4caf50;
}
.Settings-Box .options-box .yes,
.Settings-Box .options-box .no{

    width: 50px;
    background-color: var(--main-color);
    color: #FFF;
    margin-top: 10px;
    display: inline-block;
    font-size: 12px;
    padding:4px 10px;
    font-weight: bold;
    border-radius: 4px;
    opacity: .5; 
    cursor: pointer; 
}
.Settings-Box .options-box span.active{
opacity: 1;
}
.Settings-Box{ 
    position: fixed;
    left: -200px;
    top: 0;
    background-color: rgba(255, 255, 255, 0.959);
    width: 200px;
    z-index: 1000;
    min-height: 1000vh;
    transition: .3s;
}

    .Settings-Box.open{
        left:0%;
    } 
    .Settings-Box .reset-option{

        background-color: #f44336;
        border: none;
        width: 178px;
        margin: 10px auto;
        display: block;
        color: #fff;
        font-weight: bold;
        padding: 10px;
        border-radius: 4px;
        cursor: pointer;


    }

    /* End Settings-Box
    
/* ÙStart Nav Bullets */

.nav-bullets{
position: fixed;
right: 0;
top: 50%;
transform: translateY(-50%);
width: 50px;
z-index: 1000;
}
.nav-bullets .bullet{
    width: 20px;
    height: 20px;
    border: 3px solid var(--main-color);
    margin: 20px auto;
    border-radius: 50%;
    cursor: pointer; 
}
.nav-bullets .bullet .tooltip{
    background-color: var(--main-color);
    width: 120px;
    color: #fff;
    padding: 4px  10px;
    position: absolute;
    right: 42px;
    text-align: center;
    cursor: default;
    display: none;  
pointer-events: none;
}
 .nav-bullets .bullet .tooltip:before{
    content: '';
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent transparent var(--main-color);
    height: -2%;
    width: -2px;
    position: absolute;
    right: -20px;
    top: 14px;
    transform: translate(-2px,-10px);

} 

.nav-bullets .bullet:hover .tooltip{

    display: block;
}

/* End Nav Bullets */

/* Start Landing Page */
  
.landing-page{min-height:100vh;
    background-image:url('../imgs/1s.png');
    background-size: cover;
    position: relative; 
    width: 1200px;
    top: 10px;    
}
.landing-page .overlay{
    background-color:rgb(0,0,0,.3);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0%;
    top: 0%;
    z-index: 1;

}
.Header-area{
    position: relative;
    z-index: 2;
    color: #fff;
    display: flex;
    padding: 10px;


}
.Header-area .Logo{
    width: 300px;
    padding: 15px;
    font-weight: bold;
}
.Header-area .Links-container{
    width: 100%;
    text-align: right;

}
.Header-area .links{
list-style: none;
padding-left: 0%;
text-align: right;
} 
 
.Header-area .links li{
    display: inline-block;
    margin-left: 10px;
}
.Header-area .links li a{
    color: #fff;
    text-decoration: none;
    transition: 3s;

}
.Header-area .links li a:hover,
.Header-area .links li a.active{
    color: var(--main-color);
}
.Header-area .taggle-menu{
background: none;
border: none;
width: 40px;
cursor: pointer;
margin-top: 15px;
display: none;
position: relative;
}
.Header-area .taggle-menu.menu-active::before{
    content: '';
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    bottom: -19px;
    left: 28%;

}
.Header-area .taggle-menu span{
    display: block;
    background-color: #fff;
    height: 4px;
    margin-bottom: 2px;
       
}
.Introduction-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    color: #fff;
    text-align: center;
    width: 100%;
}
@media(max-width: 575px){
    .Introduction-text h1{
        font-size: 26px;
    }
    

}
    .Introduction-text h1{
        font-size: 34px;
        margin: 0 0 12px;

    }
    .Introduction-text h1 span{
        color: var(--main-color);

    }
    .Introduction-text p{
        line-height: 1.6;
        font-size: 20px;
        margin: 0%;
    }
    @media(max-width:991px){

        .Header-area .links{
            display: none;
        }
        .Header-area .links.open{
            background-color: #fff;
            padding: 10px;
            display: block;
            position: absolute;
            left: 0%;
            top: 70%;
            width: 100%;
            border-radius: 4px;
            text-align: left;
            /* display: none; */
        }
        .Header-area .links.open li a{
            color: var(--main-color);
            font-size: bold
        }
        .Header-area .links.open li {
           display: block;

           margin: 6px;
        }
        .Header-area .taggle-menu{
            display: inline-block;
        }
      

    } 
    
    
/* End Landing Page */

/* Start About US */
.About-Us{
padding-top: 50px;
padding-bottom: 50px;
display: flex;
}
@media(max-width: 575px){
    .About-Us{
    display: block;
    text-align: center;
    }
    .About-Us .Info-box{
        padding: 0%;
    }
}
.About-Us .Info-box {
flex: 1;
padding: 30px;
}
.About-Us .Info-box h2{
font-weight: bold;
font-size: 30px;
color: var(--main-color);
margin: 0 0 10px;
}
.About-Us .Info-box p{
line-height: 1.8;
color: #767676;
margin: 0%;
}
.About-Us .img-box{
flex: 1;
text-align: center;
}
.About-Us .img-box img{
    margin-top: 100px;
height: 500px;
    width: 500px;}
    
.About-Us .Info-box p span{
    color: var(--main-color);
}
    

/* End About US  */

/* Start Skills */
.skills{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #EEE;
}
.skills h2{
    font-weight: bold;
    font-size: 30px;
    color: var(--main-color);
    margin: 0 0 50px; 
    text-align: center; 
}
.skills .skill-box{
    background-color: #fff;
    display: flex;
    padding: 15px ;
    margin-bottom: 15px;
}
.skills .skill-box  .skill-name{
font-weight: bold;
width: 100px;
text-align: center;
line-height: 30px;
}.skills .skill-box  .skill-progress{
height: 30px;
width: 100%;
background-color:#f6f6f6;
border-radius: 6px;
position: relative;
overflow: hidden;
} 
.skills .skill-box  .skill-progress span{
    position: absolute;
    left: 0%;
    top: 0;
    width: 0%;
    height: 100%;
    background-color: var(--main-color);
    transition: all .5s;
}
/* End Skills */

/* Start Gallery */
.Gallery{
padding-top: 50px;
padding-bottom: 50px;
}
.Gallery h2{
    font-weight: bold;
    font-size: 30px;
    color: var(--main-color);
    margin: 0 0 50px; 
    text-align: center; 
}
.Gallery .imges-box{
text-align: center;
}
.Gallery .imges-box img{
width: 200px;
padding: 3px;
background-color: #f6f6f6;
border: 1px solid #ccc;
margin: 5px;
cursor: pointer;
}
.popup-overlay{
    position: fixed;
    background-color:rgba(0, 0, 0, 0.7);
    
    left: 0;
    top: 0%;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
.popup-box{
position: fixed;
left: 200px;
top: 50px;
transform: translate(50% , 50%);
background-color: #fff;
z-index: 1001;
border: 1px solid #CCC;
padding: 20px;

}
.popup-box h3{
    font-weight: bold;
    text-align: center;
    margin: 0 0 20px;
    color: var(--main-color);
    };
.popup-box img{
    max-width: 100%;
right: 200px;
}
.close-Button{
    position: absolute;
    top: -15px;
    right: -15px;
    background-color: var(--main-color);
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #FFF;
    cursor: pointer;
    font-weight: bold;
    font-family: Arial,tahoma;
    border-radius: 50%;

}
 


/* End Gallery */

/* Start TimeLine */
  .TimeLine{
    padding-top: 50px;
padding-bottom: 50px;
background-color: #EEE; 
 }
 .TimeLine .timeLine-content{
     position: relative;
     overflow: hidden;
 }
 .TimeLine .timeLine-content:before{
content: '';
width: 3px;
height: 100%;
background-color: var(--main-color);
position: absolute;
left: 50%;
margin-left: -1px;
top: 0%;
 }
 .TimeLine .timeLine-content .Year{
     margin: 2px auto;
     width: 50px;
     background-color: var(--main-color);
     position: relative;
     text-align: center;
      z-index: 2;
     border-radius: 4px;
     color: #fff;
     padding: 2px 5px;
     font-weight: bold;
     clear: both;

 }
 .TimeLine .timeLine-content .left:before{
    right: -35px;
}
.TimeLine .timeLine-content .right:before{
    left: -35px;
}
.TimeLine .timeLine-content .left:before,
.TimeLine .timeLine-content .right:before{
    content: '';
    background-color: #fff;
    border: 3px solid var(--main-color);
    border-radius: 50%;
    height: 14px;
    width: 14px;
    position: absolute;
    top: 20px;
}
 .TimeLine .timeLine-content .left,
 .TimeLine .timeLine-content .right{
    width: Calc(50% - 25px);
    margin-bottom: 40px;
    position: relative;
 }
@media(max-width:767PX) {
 .TimeLine .timeLine-content .left,
 .TimeLine .timeLine-content .right{
    width: 100px;
    margin-bottom: 20px;
        
 } 
 }
 .TimeLine .timeLine-content .left{
     float: left;
     clear: both;
 }
 
 .TimeLine .timeLine-content .right{
     float: right;
     clear: both;
 }
 .TimeLine .timeLine-content .content{
     padding: 20px;
     background-color: #fff;
 }
 .TimeLine .timeLine-content .content h3{
font-weight: bold;
color: var(--main-color);
margin: 0 0 10px;
 }
 .TimeLine .timeLine-content .content p{
color: #666;
margin: 0%;
line-height: 1.6;
 };
 
 .TimeLine .timeLine-content .left .content:before {
    content: '';
    border-style: solid;
    border-width: 10px;
    border-color:transparent transparent transparent  #fff;
    height: 0%;
    width: 0px;
    position: absolute;
    right: -20px;
    top: 20px;
 } 
 .TimeLine .timeLine-content .right .content:before {
     content: '';
     border-style: solid;
     border-width: 10px;
     border-color:transparent #fff transparent transparent;
     height: 0%;
     width: 0px;
     position: absolute;
     left: -20px;
     top: 20px;
 } 

/* End TimeLine */
/* Start featurse */
.Featurs{
    padding-top: 80px;
    padding-bottom: 80px;
}
.Featurs h2{
    font-weight: bold;
    font-size: 30px;
    color:var(--main-color);
    margin: 0 0 100px; 
    text-align: center; 
}
.Featurs .feat-box{
width: calc(100% /3);
float: left;
text-align: center;
margin-bottom: 40px;
} 
.Featurs .feat-box img{
    width: 96px;
}
.Featurs .feat-box h4{
font-size: 22px;
position: relative;
margin: 15px 0 40px;
}
.Featurs .feat-box h4:before{
    content: '';
    width: 40px;
    height: 4px;
    background-color: var(--main-color);
    position: absolute;
    left: 183px;
    margin-left: -20px;
    bottom: -30px;
    top: 30px;
}
.Featurs .feat-box p{
    width: 80%;
    margin: 0 auto;
    line-height: 1.7;
    color: #706f6f;
    
}
 
/* End featurse
/* Start testimonails */
.testimonails{
min-height: 600px;
position: relative;
margin-top: 550px;
padding-top: 60px;
padding-bottom: 60px;
}
.testimonails:before{
content: '';
width: 50%;
position: absolute;
left: 0;
top: 0%;
background-color: var(--main-color);
height: 100%;
z-index: -5;
}
.testimonails:after{
    content: '';
    width: 50%;
    position: absolute;
    right: 0;
    top: 0%;
    background-color: #333;
    height: 100%;
    z-index: -5;
}
  .testimonails  h2{
font-weight: bold;
font-size: 30px;
color:#fff;
margin: 0 0 30px;
text-align: left;
position:relative;
z-index: 2;
}
.testimonails .ts-box{
position:relative;
z-index: 5;
width: calc(98% /3);
float: left;
background-color:#fff;
padding: 5px;
margin-right: 1%;
}
.testimonails .ts-boxt{
    position:relative;
z-index: 5;
width: calc(98% /3);
float: left;
background-color:#fff;
padding: 5px;
}
.testimonails .ts-boxt p{
    margin: 0 0 20px;
    line-height: 1.5;
    font-size: 18px;
    color: #707070;
    font-style: italic;
}

.testimonails .ts-box >p{
    margin: 0 0 20px;
    line-height: 1.5;
    font-size: 18px;
    color: #707070;
    font-style: italic;

}
.testimonails .ts-box .person-info{
overflow:hidden;
}
.testimonails .ts-boxt .person-info{
overflow:hidden;
}

.testimonails .ts-box .person-info img{
float: left;
border-radius: 50%;
margin-right: 20px;
}
.testimonails .ts-boxt .person-info img{
float: left;
border-radius: 50%;
margin-right: 20px;
}

.testimonails .ts-box .person-info h4{
margin: 14px 0 10px;
}
.testimonails .ts-boxt .person-info h4{
margin: 14px 0 10px;
}
.testimonails .ts-box .person-info p{
color: #707070;
margin: 0%;
}
.testimonails .ts-boxt .person-info p{
color: #707070;
margin: 0%;
}
/* End testimonails */

/*Start Contact Us*/
.Contact{
    min-height: 600px;
    background-image: url('../imgs/contac.webp');
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;   
}
.Contact .overlay{
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .6);
    /* background-color: rgb(255,255,255 /60%); */
}
.Contact .container{
position: relative;
z-index: 2;
}

.Contact h2{
    font-weight: bold;
    font-size: 30px;
    color:var(--main-color);
    margin: 0 0 100px; 
    text-align: center; 
}

.Contact form{

    overflow: hidden;
    max-width: 500px;
    margin: auto ;
}
.Contact form .left{
    float: left;
    width: 49%;
}
.Contact form .right{

    left:0%;
    width: 49%;
}

.Contact form input:not([type = "submit"]),
.Contact form textarea{

    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
}
.Contact form input:not([type = "submit"]):focus,
.Contact form textarea:focus{
    outline :1px solid var(--main-color);

}
.Contact form input{
    height: 40px;
}
.Contact form textarea{
height: 150px;

}
.Contact form input[type = "submit"]{
    padding: 10px;
    width: 100%;
    border-color: transparent;
    background-color: var(--main-color);
    color: #fff;
    cursor: pointer;
}
.Contact form textarea:focus::-webkit-input-placeholder,.Contact form input:not([type = "submit"]):focus::-webkit-input-placeholder {
    opacity: 0%;
    transition: .3s;

} 

/* End Contact Us */
/* Start Footer */
.Footer{
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
.Footer image{
    width: 1px;
    height: 1px;
}

/* End Footer */

/* Start Grid system  */

@media (min-width:576px){
    .container{
        max-width: 540px;
    }
    
}
@media (min-width:768px){
    .container{
        max-width: 720px;
    }
    
}
@media (min-width:992px){
    .container{
        max-width: 960px;
    }
    
}
@media (min-width:1200px){
    .container{
        max-width: 1140px;
    }
    
} 

/* End Grid system 
























